
.map {
	width: 100%;
	height: 400px;
}

.breadcrumb-item + .breadcrumb-item::before,
.breadcrumb > li:before {
    content: "► ";
}

.breadcrumb > li:first-child:before {
	content:none;
}

.leaflet-container a {
    color: inherit;
}

.leaflet-popup-content {
	margin:3px 9px;
}

.geojson-list-item {
	min-width: 50px;
}

.leaflet-control-gps.leaflet-control a {
	margin: 4px;
	background-color: #fff;
}
.leaflet-control-gps .gps-button {
	background-image: url(https://unpkg.com/leaflet-gps@1.7.3/images/gps-icon.svg);
}
.leaflet-retina .leaflet-draw-toolbar a {
    background-image: url(https://unpkg.com/leaflet-draw@1.0.2/dist/images/spritesheet-2x.png);
    background-image: linear-gradient(transparent,transparent),url(https://unpkg.com/leaflet-draw@1.0.2/dist/images/spritesheet.svg);
}

tr:hover {
	cursor: pointer
}