
.map {
	width: 100%;
	height: 400px;
}

.breadcrumb-item + .breadcrumb-item::before,
.breadcrumb > li:before {
    content: "► ";
}

.breadcrumb > li:first-child:before {
	content:none;
}

.leaflet-container a {
    color: inherit;
}

.leaflet-popup-content {
	margin:3px 9px;
}

.geojson-list-item {
	min-width: 50px;
}

.leaflet-control-gps.leaflet-control a {
	margin: 4px;
	background-color: #fff;
}

tr:hover {
	cursor: pointer
}